.site-tips {
    background:white;
    border-left: 5px solid  #009688;
}

.explain {
    margin-left:7%;
    margin-top:70px;
    width:84%;
    height:30px;
    padding-top:10px;
    padding-left:10px;
}

.explain  span{
    margin-left:10px;
    margin-right:10px;
}

.main {
    height:900px;
    margin-top:10px;
    margin-left:7%;
}

.main .left {
    width:60%;
    float:left;
    height:890px;
    background: white;
    position:relative;
}

.main .left .title {
    font-size: 20px;
    text-align: center;
    padding:15px;
}

.main .left .author {
    margin-bottom:20px;
}

.main .left .author li{
    float:left;
    margin-left:30px;
    font-style: italic;
    font-size:10px;
    color:#666;
}

hr {
    background: #009688;
}

.main .left .content {
    padding:10px 20px;
    line-height: 23px;
}

.main .left .indicator {
    position:absolute;
    bottom:20px;
    border-top: 1px solid #009688;
    width:100%;
}

.main .left .indicator ul {
    padding: 15px 20px;
}

.main .left .indicator li{
    float:left;
    margin-right:40px;
}

.main .left .indicator a {
    color:#666;
}

.main .right {
    width:30%;
    float:left;
    height:200px;
    margin-left:20px;
    /*background: white;*/
}

.main .right .column-nav {
    background: white;
    height:175px;
    padding: 15px;
}

.main .right .column-nav ul {
    width:100%;
    margin-left:35px;
    margin-top:30px;
}

.main .right .column-nav li {
    float:left;
    margin-right:23px;
    margin-bottom:30px;
    width:124px;
}

.main .right .column-nav .layui-btn {
    width:100%;
    background:white;
    color:black;
    border:1px #666 solid;
}

.main .right .column-nav .layui-btn:hover {
    background:#009688;
    color:white;
    /*box-shadow: 2px 2px 2px 2px rgba(16, 84, 84, .5);*/
}

.main .right .relative-article {
    background: white;
    margin-top:20px;
    height:170px;
    padding:15px;
}

.main .right .relative-article ol {
    padding-left:26px;
}

.main .right .relative-article li {
    list-style: decimal-leading-zero;
    line-height: 26px;
    font-style:italic;
}

.main .right .qrcode {
    padding:15px;
    margin-top:10px;
    background: white;
    height:300px;
}


