

.main {
    height:570px;
    margin-top:70px;
    margin-left:7%;
    width:80%;
    padding-top:36px;
}

.main .title {
    /*float:right;*/
    /*margin-right:345px;*/
    /*margin-bottom:20px;*/
    font-size:26px;
}

hr {
    background: #009688;
}

.main .forget {
    position:relative;
    top:10px;
}

.main .register {
    background:white;
    border:1px solid #009688;
    color:#666;
}

.verify {
    width:40px;
    height:40px;
}

.layui-form {
    /*float:right;*/
}