body {
    background:#eee;
}

.site-tips {
    background:white;
    border-left: 5px solid  #009688;
}

.nav {
    background: #393D49;
    position:fixed;
    top:0px;
    width:100%;
    z-index:100;
}

.nav .search-btn {
    position:absolute;
    top:12px;
    right:100px;
}

.nav .search-btn .search-input {
    width:36px;
    line-height: 38px;
    border:none;
    background: #393D49;
    cursor:pointer;
}

.nav .search-btn .layui-icon {
    display:none;
}


.nav .focus .search-input {
    width:200px;
    background:white;
    cursor: text;
    padding-left:10px;
    border-radius: 3px;
}

.nav .focus .layui-icon {
    display: inline;
    position:relative;
    left:-26px;
    top:3px;
}

.layui-nav {
    margin-left:7%;
}

.search {
    position:absolute;
    right: 150px;
    top:45px;
}
.search .layui-input {
    float:left;
    width:91%;
}
.search .layui-icon {
    position:relative;
    left:-26px;
    top:12px;
}

/*测试搜索动画*/
.nav .focus .search-input{
    animation:animIn ;
    animation-duration: 1s;
}
/*进来动画*/
@keyframes animIn {
    from{width:36px}
    to {width:200px}
}
-webkit-animation:animIn  {
    -webkit-animation-duration:1s;
}
.nav .unfocus .search-input {
    animation:animOut;
    animation-duration:1s;
    background:white;
}
.nav .unfocus .layui-icon {
    display: inline;
    position:relative;
    left:-26px;
    top:3px;
}
/*出去动画*/
@keyframes animOut {
    from{width:200px}
    to {width:36px}
}
-webkit-animation:animOut  {
    -webkit-animation-duration:1s;
}
/*测试搜索动画结束*/

::selection {
    background-color: #009688;
    color:#fff;
}