<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>首页</title>
    <link rel="stylesheet" href="css/index.css"/>
    <link rel="stylesheet" href="./lib/layui/css/layui.css"  media="all">
    <link rel="stylesheet" href="css/nav.css"/>
    <link rel="stylesheet" href="css/footer.css">
    <script src="./lib/jquery-3.1.1.min.js"></script>
    <script src="./lib/angular/angular.min.js"></script>
</head>
<body ng-app="app">
    <!--导航栏-->
    <div class="nav">
        <ul class="layui-nav">
            <li class="layui-nav-item layui-this">
                <a href="">首页</a>
            </li>
            <li class="layui-nav-item">
                <a href="">编程语言</a>
                <dl class="layui-nav-child">
                    <dd><a href="">java</a></dd>
                    <dd><a href="">c++</a></dd>
                    <dd><a href="">js</a></dd>
                    <dd><a href="">html/css</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="">后台技术</a>
                <dl class="layui-nav-child">
                    <dd><a href="">SpringBoot</a></dd>
                    <dd><a href="">Hibernate</a></dd>
                    <dd><a href="">Struts2</a></dd>
                    <dd><a href="">SpringMVC</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="">生活感悟</a>
            </li>
            <li class="layui-nav-item">
                <a href="">杂谈</a>
            </li>
            <li class="layui-nav-item">
                <a href="">归档</a>
            </li>
            <li class="layui-nav-item">
                <a href="">关于我</a>
            </li>
        </ul>
        <!--搜索栏-->
        <span class="search-btn">
            <input type="text" placeholder="搜索" class="search-input" maxlength="20"/>
            <i class="layui-icon">&#xe615;</i>
        </span>
    </div>
    <!--格言或笑话-->
    <div class="daily" ng-controller="daily">
        <div class="left">
            <fieldset class="layui-elem-field layui-field-title">
                <legend>每日一笑</legend>
            </fieldset>
            <div class="content">
                <!--“业精于勤荒于嬉”，精深的业技靠的是勤学、刻苦努力，靠的是争分夺秒的勤学苦练才会有精深的技术。得在认真，失在随便。-->
                {{daily.joke}}
            </div>
        </div>
        <div class="center">
            <fieldset class="layui-elem-field layui-field-title">
                <legend>人生格言</legend>
            </fieldset>
            <div class="content">
                <!--学习，探索，研究，从不了解到了解，从无知到掌握，到灵活运用，在不断的学习中加深认识。由浅入深，由表及里。-->
                {{daily.motto}}
            </div>
        </div>
        <div class="right">
            <fieldset class="layui-elem-field layui-field-title">
                <legend>人物事迹</legend>
            </fieldset>
            <div class="content">
                <!--精益求精，注重细节，追求完美和极致，不惜花费时间精力，孜孜不倦，反复改进产品，把99%提高到99.99%。-->
                {{daily.famous}}
            </div>
        </div>
    </div>
    <!--显示文章等等东西-->
    <div class="middle">
        <!--首页内容列表-->
        <ul class="list" ng-controller="articleList">
            <!--列表项-->
            <li  ng-repeat="x in list" class="list-item {{x.hasPic}}" >
                <a href="content.html?id={{x.id}}">
                    <img class="pic" src="{{x.picPath}}" alt="">
                </a>
                <h2><a href="content.html?id={{x.id}}">{{x.title}}</a></h2>
                <!--介绍-->
                <div class="intro">
                    <ul>
                        <li>{{x.author}}</li>
                        <li>{{x.time}}</li>
                        <li>{{x.category}}</li>
                        <li class="comment">
                            <span class="layui-icon">&#xe63a;</span>
                            <span>{{x.commentCount}}</span>
                        </li>
                    </ul>
                </div>
                <!--简介-->
                <div class="brief">
                    <p>{{x.brief}}</p>
                </div>
            </li>
        </ul>
        <div class="slide">
            <!--博主信息-->
           <div class="list-item">
                <h2>博主信息</h2>
               <hr/>
               <ol>
                   <li>姓名：伯兰</li>
                   <li>职业：java程序员</li>
                   <li>座右铭：无</li>
               </ol>
           </div>
            <!--最新文章-->
            <div class="list-item new-list" ng-controller="newArticle">
                <h2>最新文章</h2>
                <hr/>
                <ol>
                    <li ng-repeat="x in news">
                        <a href="content.html?id={{x.id}}">{{x.title}}</a>
                    </li>
                </ol>
            </div>
        </div>

    </div>

    <!--底部-->
    <div class="layui-footer footer">
        <div>
            <span>老张博客</span>
            <span>phplaozhang.com</span>
        </div>
        <div>网站地图</div>
        <div>
            @Copyright 万
        </div>
    </div>
</body>
<script src="./lib/layui/layui.js"></script>
<script src="js/common.js"></script>
<script src="./js/index.js"></script>
<script>
    /**
     * 导航栏需要启用element模块，例如hover时候的下划线，子菜单等等功能
     */
    layui.use('element', function() {

    });
</script>
</html>