<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>列表</title>
    <link rel="stylesheet" href="./lib/layui/css/layui.css"  media="all">
    <link rel="stylesheet" href="css/nav.css"/>
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/listwithoutpic.css">
    <script src="./lib/jquery-3.1.1.min.js"></script>
    <script src="./lib/angular/angular.min.js"></script>
</head>
<body>

    <div class="nav">
        <ul class="layui-nav">
            <li class="layui-nav-item layui-this">
                <a href="">首页</a>
            </li>
            <li class="layui-nav-item">
                <a href="">编程语言</a>
                <dl class="layui-nav-child">
                    <dd><a href="">java</a></dd>
                    <dd><a href="">c++</a></dd>
                    <dd><a href="">js</a></dd>
                    <dd><a href="">html/css</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="">后台技术</a>
                <dl class="layui-nav-child">
                    <dd><a href="">SpringBoot</a></dd>
                    <dd><a href="">Hibernate</a></dd>
                    <dd><a href="">Struts2</a></dd>
                    <dd><a href="">SpringMVC</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="">生活感悟</a>
            </li>
            <li class="layui-nav-item">
                <a href="">杂谈</a>
            </li>
            <li class="layui-nav-item">
                <a href="">归档</a>
            </li>
            <li class="layui-nav-item">
                <a href="">关于我</a>
            </li>

        </ul>
        <!--搜索栏-->
        <span class="search-btn">
                <input type="text" placeholder="搜索" class="search-input" maxlength="20"/>
                <i class="layui-icon">&#xe615;</i>
            </span>
    </div>

    <div class="site-tips head">
        <p><a href="">搜索</a><span>—</span>后台</p>
    </div>

    <div class="main">
        <div class="left" ng-controller="list">
            <!--显示文章列表-->
            <ul class="list">
                <li class="list-item" ng-repeat="x in arr">
                    <a href="content.html?id={{x.id}}" class="item-pic">
                        <img src="{{x.userPic}}" alt="">
                    </a>
                    <div class="item-content">
                        <p class="item-content-title">
                            <a href="content.html?id={{x.id}}">
                                {{x.title}}
                            </a>
                        </p>
                        <ul class="item-content-author">
                            <li>{{x.author}}</li>
                            <li>{{x.date}}</li>
                            <li>{{x.category}}</li>
                            <li class="icon-right">
                                <i class="layui-icon">&#xe63a;</i>
                                <span>{{x.commentCount}}</span>
                            </li>
                            <li class="icon-right">
                                <i class="layui-icon">&#xe62c;</i>
                                <span>{{x.viewCount}}</span>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
            <!--分页-->
            <div class="page-btn">
            <fieldset class="layui-elem-field">
                <legend>分页</legend>
                <div class="layui-btn-group layui-form">
                    <button class="layui-btn" ng-click="firstPage()">首页</button>
                    <button class="layui-btn" ng-click="previous()">上一页</button>
                    <button class="layui-btn" ng-click="nextPage()">下一页</button>
                    <button class="layui-btn" ng-click="lastPage()">尾页</button>
                    <div class="layui-input-inline">
                        <select name="page" id="" lay-verify="required">
                            <option value=""></option>
                            <option value="{{i}}" ng-repeat="i in pages">
                                第{{i+1}}页
                            </option>
                        </select>
                    </div>
                </div>
            </fieldset>
        </div>
        </div>
        <div class="right">
            <!--栏目导航-->
            <div class="column-nav">
                <h2>栏目导航</h2>
                <hr/>
                <ul>
                    <li>
                        <a href="" class="layui-btn">杂谈</a>
                    </li>
                    <li>
                        <a href="" class="layui-btn">后台</a>
                    </li>
                    <li>
                        <a href="" class="layui-btn">生活</a>
                    </li>
                    <li>
                        <a href="" class="layui-btn">编程</a>
                    </li>
                </ul>
            </div>
            <!--相关文章-->
            <div class="relative-article" ng-controller="relative">
                <h2>相关文章</h2>
                <hr/>
                <div>
                    <ol>
                        <li ng-repeat="x in arr">
                            <a href="content.html?id={{x.id}}">
                                {{x.title}}
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
            <!--手机扫码访问-->
            <div class="qrcode">
                <h2>手机扫码访问</h2>
                <hr/>
            </div>
        </div>
    </div>

    <div class="layui-footer footer">
        <div>
            <span>老张博客</span>
            <span>phplaozhang.com</span>
        </div>
        <div>网站地图</div>
        <div>
            @Copyright 万
        </div>
    </div>

</body>
<script src="./lib/layui/layui.js"></script>
<script src="js/common.js"></script>
<script src="js/listwithoutpic.js"></script>
<script>
    /*
     * 要启用form表单，否则不能使用
     * select选择框（layui里面定义的样式）
     */
    layui.use(['element', 'form'], function() {

    });
</script>
</html>