<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>列表-大图</title>
    <link rel="stylesheet" href="./lib/layui/css/layui.css"  media="all">
    <link rel="stylesheet" href="css/nav.css"/>
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/list.css">
    <script src="./lib/jquery-3.1.1.min.js"></script>
    <script src="./lib/angular/angular.min.js"></script>
</head>
<body ng-app="app">
    <!--导航条-->
    <div class="nav">
        <ul class="layui-nav">
            <li class="layui-nav-item layui-this">
                <a href="">首页</a>
            </li>
            <li class="layui-nav-item">
                <a href="">编程语言</a>
                <dl class="layui-nav-child">
                    <dd><a href="">java</a></dd>
                    <dd><a href="">c++</a></dd>
                    <dd><a href="">js</a></dd>
                    <dd><a href="">html/css</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="">后台技术</a>
                <dl class="layui-nav-child">
                    <dd><a href="">SpringBoot</a></dd>
                    <dd><a href="">Hibernate</a></dd>
                    <dd><a href="">Struts2</a></dd>
                    <dd><a href="">SpringMVC</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="">生活感悟</a>
            </li>
            <li class="layui-nav-item">
                <a href="">杂谈</a>
            </li>
            <li class="layui-nav-item">
                <a href="">归档</a>
            </li>
            <li class="layui-nav-item">
                <a href="">关于我</a>
            </li>
        </ul>
        <!--搜索栏-->
        <span class="search-btn">
                <input type="text" placeholder="搜索" class="search-input layui-input " maxlength="20"/>
                <i class="layui-icon">&#xe615;</i>
            </span>
    </div>

    <div class="site-tips head">
        <p><a href="">首页</a><span>—</span>列表</p>
    </div>

    <div class="main" ng-controller="listController">
        <!--显示文章列表-->
        <ul>
            <li class="list-item" ng-repeat="x in arr">
                <img class="pic" src="{{x.backpic}}" alt="">
                <div class="content">
                    <p class="title">{{x.title}}</p>
                    <p class="brief">{{x.brief}}</p>
                </div>
                <hr/>
                <div>
                    <span class="author">
                        <span>{{x.author}}</span>
                        <span>{{x.date}}</span>
                    </span>
                    <span class="btn-group">
                        <a href="{{x.downloadUrl}}" class="layui-btn">演示</a>
                        <a href="{{x.showUrl}}" class="layui-btn">下载</a>
                    </span>
                </div>
            </li>
        </ul>
        <!--分页-->
        <div class="page-btn">
            <fieldset class="layui-elem-field">
                <legend>分页</legend>
                <div class="layui-btn-group layui-form">
                    <button class="layui-btn" ng-click="firstPage()">首页</button>
                    <button class="layui-btn" ng-click="previous()">上一页</button>
                    <button class="layui-btn" ng-click="nextPage()">下一页</button>
                    <button class="layui-btn" ng-click="lastPage()">尾页</button>
                    <div class="layui-input-inline">
                        <select name="page" id="" lay-verify="required">
                            <option value=""></option>
                            <option value="{{i}}" ng-repeat="i in pages">
                                第{{i+1}}页
                            </option>
                        </select>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="layui-footer footer">
        <div>
            <span>老张博客</span>
            <span>phplaozhang.com</span>
        </div>
        <div>网站地图</div>
        <div>
            @Copyright 万
        </div>
    </div>
</body>
<script src="./lib/layui/layui.js"></script>
<script src="js/common.js"></script>
<script src="js/list.js"></script>
<script>
    /*
     * 要启用form表单，否则不能使用
     * select选择框（layui里面定义的样式）
     */
    layui.use(['element', 'form'], function() {

    });
</script>
</html>