<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>列表-大图</title>
    <link rel="stylesheet" href="./lib/layui/css/layui.css"  media="all">
    <link rel="stylesheet" href="css/nav.css"/>
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/list.css">
    <script src="./lib/jquery-3.1.1.min.js"></script>
    <script src="./lib/angular/angular.min.js"></script>
    <script src="./js/util.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body ng-app="app">
    <!--导航条-->
    <div class="nav">
        <ul class="layui-nav">
            <li class="layui-nav-item layui-this">
                <a href="index.html">首页</a>
            </li>
            <li class="layui-nav-item">
                <a href="listwithoutpic.html?categoryName=编程语言">编程语言</a>
            </li>
            <li class="layui-nav-item">
                <a href="list.html">代码实例</a>
            </li>
            <li class="layui-nav-item">
                <a href="listwithoutpic.html?categoryName=生活感悟">生活感悟</a>
            </li>
            <li class="layui-nav-item">
                <a href="listwithoutpic.html?categoryName=杂谈">杂谈</a>
            </li>
            <li class="layui-nav-item">
                <a href="journal.html">网站大事件</a>
            </li>
        </ul>
        <div class="mobile">
            <a href="javascript:swit()" class="nav-btn">
                <i class="fa-navicon"></i>
            </a>
            <span class="title">
                小万博客
            </span>
            <!--手机端显示的菜单-->
            <div class="mobile-nav tran-anim">
                <ul>
                    <li><a href="index.html">首页</a></li>
                    <li><a href="listwithoutpic.html?categoryName=编程语言">编程语言</a></li>
                    <li><a href="list.html">代码实例</a></li>
                    <li><a href="listwithoutpic.html?categoryName=生活感悟">生活感悟</a></li>
                    <li><a href="listwithoutpic.html?categoryName=杂谈">杂谈</a></li>
                    <li><a href="journal.html">网站大事件</a></li>
                </ul>
            </div>
        </div>
        <!--遮罩-->
        <div class="mask" style="display: none">
        </div>
    </div>

    <div class="site-tips head">
        <p>列表<span>—</span>代码实例</p>
    </div>

    <div class="main" ng-controller="listController">
        <!--显示文章列表-->
        <ul>
            <li class="list-item" ng-repeat="x in arr">
                <img class="pic" ng-src="{{x.backpic}}" alt="">
                <div class="content">
                    <p class="title">{{x.title}}</p>
                    <p class="brief">{{x.brief}}</p>
                </div>
                <hr/>
                <div>
                    <span class="author">
                        <span>{{x.author}}</span>
                        <span>{{x.date}}</span>
                    </span>
                    <span class="btn-group">
                        <a href="{{x.downloadUrl}}" class="layui-btn">演示</a>
                        <a href="{{x.showUrl}}" class="layui-btn">下载</a>
                    </span>
                </div>
            </li>
        </ul>
        <!--分页-->
        <div class="page-btn">
            <fieldset class="layui-elem-field">
                <legend>分页</legend>
                <div class="layui-btn-group layui-form">
                    <button class="layui-btn" ng-click="firstPage()">首页</button>
                    <button class="layui-btn" ng-click="previous()">上一页</button>
                    <button class="layui-btn" ng-click="nextPage()">下一页</button>
                    <button class="layui-btn" ng-click="lastPage()">尾页</button>
                    <div class="layui-input-inline">
                        <span>共</span>
                        <span>{{pages.totalPages ? pages.totalPages : 1}}</span>
                        <span>页</span>，
                        <span>当前第</span>
                        <span>{{pages.number + 1}}</span>
                        <span>页</span>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="layui-footer footer">
        <div>
            <span>karent.cn</span>
        </div>
        <div>绿色放心的小站</div>
        <div>
            @Copyright 万
        </div>
    </div>
</body>
<script src="./lib/layui/layui.js"></script>
<script src="js/common.js"></script>
<script src="js/list.js"></script>
</html>